PORT=5000
JWT_SECRET=MONITOR_SUPER_SECRET_JWT_KEY_2026_PROD
MONGODB_URI=mongodb+srv://skcoderains_db_user:<password>@cluster0.ltf5au1.mongodb.net/monitor_db?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=monitor_db
